<h1>Playlists ({{playlists.length}})</h1>

<hr>

<div class="row">
	{{!-- CREATE --}}
	<div class="tile-wrapper col-xs-12 col-sm-4 col-md-3">
		<a href="/playlists/create" class="tile tile-new">
			<i class="fa fa-plus"></i>
		</a>
	</div>

	{{#each playlists as |playlist|}}
		<div class="tile-wrapper col-xs-12 col-sm-4 col-md-3">
			<a href="/playlists/{{playlist._id}}" class="tile">
				<div>
					<strong>{{playlist.title}} ({{playlist.songs.length}})</strong>
				</div>
				<hr>
				<p>{{playlist.description}}</p>
			</a>
		</div>
	{{/each}}
</div>
