<h1>
	{{playlist.title}} ({{playlist.songs.length}}) &ndash;
	<a href="/playlists/{{playlist._id}}/edit">
		<i class="fa fa-edit"></i>
	</a>
</h1>

<hr>

<p>{{playlist.description}}</p>

<form action="/playlists/{{playlist._id}}/songs/create" method="POST">
	<div class="col-padded row">
		<div class="spotify-wrapper align-items-center">
			<button type="submit" class="btn btn-spotify btn-spotify-create">
				<i class="fa fa-plus"></i>
			</button>

			<div class="flex-grow">
				<input type="text" name="uri" placeholder="spotify:track:uri" required="required" />
				<input type="text" name="title" placeholder="Title (optional)" />
			</div>
		</div>
	</div>
</form>

{{#with playlist as |playlist|}}
	{{#each playlist.songs as |song|}}
		<div class="col-padded row">
			<div class="spotify-wrapper align-items-center">
				<a href="/playlists/{{playlist._id}}/songs/{{song._id}}/delete" class="btn btn-spotify btn-spotify-delete">
					<i class="fa fa-minus"></i>
				</a>

				<iframe src="https://open.spotify.com/embed?uri={{song.uri}}" class="spotify-embed flex-grow" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		</div>
	{{/each}}
{{/with}}
